@page "/apps"

<div class="container">
    <div class="post-wrap">
        <h2 class="post-title">-&nbsp;Apps&nbsp;-</h2>
        <ul>
            <li>
                <NavLink target="_blank" href="/gobang"><h3>五子棋</h3></NavLink>
            </li>
            <li>
                <NavLink target="_blank" href="/2048"><h3>2048</h3></NavLink>
            </li>
            <li>
                <NavLink target="_blank" href="https://support.qq.com/product/440024"><h3>留言板</h3></NavLink>
            </li>
            <li>
                <NavLink href="/friendlinks"><h3>友情连接</h3></NavLink>
            </li>
        </ul>
    </div>
</div>