@page "/funs"
<div class="main box">
    <div class="apps-container">
         <NavLink href="https://lab.magiconch.com/world-ex/" target="_blank">
             <h3>全球制霸</h3>
             <p>全球去过哪些国家</p>
         </NavLink>
         <NavLink href="https://lab.magiconch.com/china-ex/?event_source=timeline&source=timeline&dt_dapp=1&dt_platform=com.douban.activity.wechat_friends" target="_blank">
             <h3>中国制霸</h3>
             <p>中国去过哪些省</p>
         </NavLink>
         <NavLink href="https://magiconch.com/vaporwave/" target="_blank">
             <h3>蒸 気 機</h3>
             <p>虚拟信号蒸汽波风格化影像后期工具</p>
         </NavLink>
         <NavLink href="https://lab.magiconch.com/sakana/" target="_blank">
             <h3>Sakana! 石蒜模拟器</h3>
             <p>さかなー－－－！！</p>
         </NavLink>
         <NavLink href="https://lab.magiconch.com/one-last-image/" target="_blank">
             <h3>卢浮宫生成器</h3>
             <p>One Last Kiss 封面风格生成</p>
         </NavLink>
         <NavLink href="https://lab.magiconch.com/eva-title/" target="_blank">
             <h3>福音战士标题生成器</h3>
             <p>Evangelion Title Card Generator</p>
         </NavLink>
         <NavLink href="https://x.magiconch.com" target="_blank">
             <h3>梗图生成器</h3>
             <p>梗图一键生成</p>
         </NavLink>
         <NavLink href="https://magiconch.com/fontfont/" target="_blank">
             <h3>字符字生成器</h3>
             <p>字符生成字符字工具，你搁着搁着呢？</p>
         </NavLink>
         <NavLink href="https://v.magiconch.com/mine-sweeper" target="_blank">
             <h3>EVANGELION & 扫雷</h3>
             <p>微软宣布，旗下扛鼎大作《扫雷》将与知名动漫 IP《新世纪福音战士》展开联动！</p>
         </NavLink>
         <NavLink href="https://magiconch.com/image-split-join/" target="_blank">
             <h3>图像切割粘贴器</h3>
             <p>给图像切开再粘上的一个小工具</p>
         </NavLink>
    </div>
</div>
