@page "/"

<div class="main">
    <div class="container">
        <div class="intro">
            <div class="avatar">
                <a href="javascript:;"><img src="https://static.meowv.com/images/avatar.jpg"></a>
            </div>
            <div class="nickname">Roc</div>
            <div class="description">
                <p>
                    喜欢编程，爱好摄影
                    <br>Cease to struggle and you cease to live
                </p>
            </div>
            <div class="links">
                <NavLink target="_blank" class="link-item" title="Notes" href="https://notes.meowv.com/">
                    <Icon Type="file" Theme="twotone" TwotoneColor="#f50" Height="2em" Width="2em"/>
                </NavLink>
                <NavLink target="_blank" class="link-item" title="API" href="https://api.meowv.com/">
                    <Icon Type="api" Theme="twotone" TwotoneColor="rgb(143, 201, 146)" Height="2em" Width="2em" />
                </NavLink>
                <NavLink class="link-item" title="Manage" href="/account/auth">
                    <Icon Type="camera" Theme="twotone" TwotoneColor="#2db7f5" Height="2em" Width="2em"/>
                </NavLink>
                <NavLink target="_blank" class="link-item" title="Github" href="https://github.com/Meowv/">
                    <Icon Type="github" Theme="fill" Height="2em" Width="2em" Style="color:#000000D9"/>
                </NavLink>
                <NavLink class="link-item weixin">
                    <Icon Type="wechat" Theme="fill" Height="2em" Width="2em" Style="color:#87d068"/>
                </NavLink>
                <NavLink class="link-item redbook" title="扫码关注小红书：『Roc的照相机』查看更多。" @onmouseover="Hover" @onmouseout="Hover">
                    <Icon Type="book" Theme="twotone" TwotoneColor="#cf1322" Height="2em" Width="2em"/>
                </NavLink>
                <div class="qrcode @QrCodeCssClass">
                    <img src="https://www-static.chemicalai.cn/assets/images/scroll-top.gif"/>
                </div>
            </div>
        </div>
    </div>
</div>

