@page "/map"
<div class="main map-box">
    <iframe src="https://lab.magiconch.com/china-ex/?event_source=timeline&source=timeline&dt_dapp=1&dt_platform=com.douban.activity.wechat_friends" style="width:95vw;height:85vh;"></iframe>
</div>