<header>
    <div class="menu navbar-right">
        <Menu Mode=MenuMode.Horizontal Style="@themeColor">
            <MenuItem Key="mail" Style="font-size:18px">
                <Icon Type="home" Theme="outline"></Icon>
                <NavLink href="/">首页</NavLink>
            </MenuItem>
            <SubMenu TitleTemplate=@sub1Title1>
                <SubMenu Title="地图标记" Style="font-size:16px">
                    <MenuItem Key="setting1:1"><a href="https://lab.magiconch.com/china-ex/?event_source=timeline&source=timeline&dt_dapp=1&dt_platform=com.douban.activity.wechat_friends" target="_blank" Style="font-size:16px">中国制霸</a></MenuItem>
                    <MenuItem Key="setting1:2"><a href="https://lab.magiconch.com/world-ex/" target="_blank" Style="font-size:16px">全球制霸</a></MenuItem>
                </SubMenu>
                <MenuItemGroup Title="生成器" Style="font-size:16px">
                    <MenuItem Key="setting:2"><a href="https://lab.magiconch.com/one-last-image/" target="_blank" Style="font-size:16px">卢浮宫生成器</a></MenuItem>
                    <MenuItem Key="setting:3"><a href="https://lab.magiconch.com/eva-title/" target="_blank" Style="font-size:16px">福音战士标题生成器</a></MenuItem>
                    <MenuItem Key="setting:4"><a href="https://x.magiconch.com" target="_blank" Style="font-size:16px">梗图生成器</a></MenuItem>
                    <MenuItem Key="setting:5"><a href="https://magiconch.com/fontfont/" target="_blank" Style="font-size:16px">字符字生成器</a></MenuItem>
                </MenuItemGroup>
                <MenuItemGroup Title="其他" Style="font-size:16px">
                    <MenuItem Key="setting:6"><a href="https://magiconch.com/vaporwave/" target="_blank" Style="font-size:16px">蒸 気 機</a></MenuItem>
                    <MenuItem Key="setting:7"><a href="https://lab.magiconch.com/sakana/" target="_blank" Style="font-size:16px">Sakana! 石蒜模拟器</a></MenuItem>
                    <MenuItem Key="setting:8"><a href="https://v.magiconch.com/mine-sweeper" target="_blank" Style="font-size:16px">EVANGELION & 扫雷</a></MenuItem>
                    <MenuItem Key="setting:9"><a href="https://magiconch.com/image-split-join/" target="_blank" Style="font-size:16px">图像切割粘贴器</a></MenuItem>
                </MenuItemGroup>
                <MenuDivider />
            </SubMenu>

            <SubMenu TitleTemplate=@sub1Title2>
                <MenuItemGroup>
                    <MenuItem Key="setting:1" RouterLink="/gobang" Style="font-size:16px">五子棋</MenuItem>
                    <MenuItem Key="setting:2" RouterLink="/2048" Style="font-size:16px">2048</MenuItem>
                    <MenuItem Key="setting:3"><a href="https://support.qq.com/product/440024" target="_blank" Style="font-size:16px">留言板</a></MenuItem>
                    <MenuItem Key="setting:4" RouterLink="/friendlinks" Style="font-size:16px">友情链接</MenuItem>
                </MenuItemGroup>
            </SubMenu>
        </Menu>
    </div>

    <div style="display:flex;align-items: center;top: 1em;right: 1em;position: absolute;">
        @if (currentTheme == "Dark")
        {
            <svg class="icon" aria-hidden="true" style="width:18px;height:18px;">
                <use xlink:href="#icon-yueliang1"></use>
            </svg>
        }
        else
        {
            <svg class="icon" aria-hidden="true" style="width:24px;height:24px;">
                <use xlink:href="#icon-taiyang1"></use>
            </svg>
        }
        <Switch Checked="@(currentTheme == "Dark")" Size="small" CheckedChildren="夜" UnCheckedChildren="昼" OnChange="SwitchTheme" Style="margin-left:5px;" />
    </div>

</header>

@code
{
    RenderFragment sub1Title1 =
    @<MenuItem Style="font-size:18px">
        <Icon Type="smile" Theme="outline"></Icon>
        <NavLink href="funs">有趣的网站</NavLink>
    </MenuItem>;
    RenderFragment sub1Title2 =
    @<Template>
        <NavLink class="apps" href="apps" style="font-size:18px">App</NavLink>
    </Template>;
}